#purchaseContainer {
	position: fixed;
	top: 0;
	right: 0;
	margin: 20px;
	z-index: 1;
}

body {
	padding-top: 110px;
  	padding-top: 100px;
	width: 100%;
    font-family: Arial, sans-serif;
     /* 透明度を指定 */
}

.rice_img {
	width: 200px;
	height: 200px;
}