#purchaseContainer {
	position: fixed;
	top: 0;
	right: 0;
	margin: 20px;
	z-index: 1;
}

body {
	padding-top: 100px;
	width: 100%;
    font-family: Arial, sans-serif;
	background-image: url(/comecomeshop/images/ine.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
     /* 透明度を指定 */
}