#purchaseContainer {
	position: fixed;
	top: 0;
	right: 0;
	margin: 20px;
	z-index: 1;
}

body {
  	padding-top: 120px;
	width: 100%;
    font-family: Arial, sans-serif;
     /* 透明度を指定 */
}

.rice_img {
	width: 200px;
	height: 200px;
}

.cart_card_wrap {
	display: flex;
    justify-content: center;
}

.buy_box {
	position: fixed;
	padding-left: 200px;
	bottom: 200px;
}

