body {
	font-family: Arial, sans-serif;
	padding-top: 110px;
}

form {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

button {
	padding: 10px;
	margin: 0 5;
	cursor: pointer;
}

.modal-container {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	align-items: center;
	justify-content: center;
}

.modal-content {
	height: auto;
	max-height: 80vh;
	overflow-y: auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	position: relative;
	width: 80%;
	max-width: 400px;
	text-align: center;
}

.close-btn {
	position: sticky;
	top: 10px;
	left: 300px;
	font-size: 20px;
	cursor: pointer;
	width: 20px;
}

.radio-group {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}

.radio-group input {
	margin-bottom: 10px;
}

body {
	min-height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: column;
}

header {
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 1000;
	/* Ensure the header stays on top */
}

main {
	margin-top: 80px;
	/* Adjust the value based on your header height */
}

footer {
	margin-top: auto;
}

form {
	margin-top: 20px;
	/* Adjust the value based on your layout preferences */
}

h2 {
	text-align: center;
}