.rice_img {
	max-width: 600px;
	max-height: 500px;
}
.product_container {
	display: flex;   
}


.product_name {
	font-size: 60px;
    margin: 20px;
}
.product_price {
	    font-size: 35;
	    margin: 20px;
}
.product_weight {
	margin: 20px;
}
.product_genre {
	margin: 20px;
}
.product_made {
	margin: 20px;
}
.product_since {
	margin: 20px; 
}

.review {
	font-size: 40px;
	text-align: center;
}
