<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>comecomeshop</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <!-- h -->
  </welcome-file-list>
  
  <filter>
		<filter-name>sessionfilter</filter-name>
		<filter-class>filter.SessionFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>sessionfilter</filter-name>
		<url-pattern>/comecomeshop</url-pattern>
	</filter-mapping>
  
  <servlet>
  	<servlet-name>productslist</servlet-name>
  	<jsp-file>/WEB-INF/JSP/productslist.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>productslist</servlet-name>
  	<url-pattern>/productslist</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>signin</servlet-name>
  	<jsp-file>/WEB-INF/JSP/signin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>signin</servlet-name>
  	<url-pattern>/signin</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>signup</servlet-name>
  	<jsp-file>/WEB-INF/JSP/signup.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>signup</servlet-name>
  	<url-pattern>/signup</url-pattern>
  </servlet-mapping>
  
    <servlet>
  	<servlet-name>testpage</servlet-name>
  	<jsp-file>/WEB-INF/JSP/test.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>testpage</servlet-name>
  	<url-pattern>/testpage</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
		<servlet-name>front</servlet-name>
		<servlet-class>servlet.FrontServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>front</servlet-name>
		<url-pattern>/come/*</url-pattern>
	</servlet-mapping>
  
</web-app>