<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>comecomeshop</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <!-- h -->
  </welcome-file-list>
  
  <filter>
		<filter-name>sessionfilter</filter-name>
		<filter-class>filter.SessionFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>sessionfilter</filter-name>
		<url-pattern>/comecomeshop</url-pattern>
	</filter-mapping>
  
  <servlet>
  	<servlet-name>productslist</servlet-name>
  	<jsp-file>/WEB-INF/JSP/productslist.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>productslist</servlet-name>
  	<url-pattern>/productslist</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>signin</servlet-name>
  	<jsp-file>/WEB-INF/JSP/signin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>signin</servlet-name>
  	<url-pattern>/signin</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>signup</servlet-name>
  	<jsp-file>/WEB-INF/JSP/signup.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>signup</servlet-name>
  	<url-pattern>/signup</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>testpage</servlet-name>
  	<jsp-file>/WEB-INF/JSP/test.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>testpage</servlet-name>
  	<url-pattern>/testpage</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>yuubinn</servlet-name>
  	<jsp-file>/WEB-INF/JSP/yuubinn.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>yuubinn</servlet-name>
  	<url-pattern>/yuubinn</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>cart</servlet-name>
  	<jsp-file>/WEB-INF/JSP/cart.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>cart</servlet-name>
  	<url-pattern>/cart</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>contact</servlet-name>
  	<jsp-file>/WEB-INF/JSP/contact.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>contact</servlet-name>
  	<url-pattern>/contact</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>history</servlet-name>
  	<jsp-file>/WEB-INF/JSP/history.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>history</servlet-name>
  	<url-pattern>/history</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>mypage</servlet-name>
  	<jsp-file>/WEB-INF/JSP/mypage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>mypage</servlet-name>
  	<url-pattern>/mypage</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>procedure</servlet-name>
  	<jsp-file>/WEB-INF/JSP/procedure.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>procedure</servlet-name>
  	<url-pattern>/procedure</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>product</servlet-name>
  	<jsp-file>/WEB-INF/JSP/product.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>product</servlet-name>
  	<url-pattern>/product</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>review</servlet-name>
  	<jsp-file>/WEB-INF/JSP/review.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>review</servlet-name>
  	<url-pattern>/review</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>post</servlet-name>
  	<jsp-file>/WEB-INF/JSP/post.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>post</servlet-name>
  	<url-pattern>/post</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>admin</servlet-name>
  	<jsp-file>/WEB-INF/JSP/adminpage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>admin</servlet-name>
  	<url-pattern>/admin</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
		<servlet-name>front</servlet-name>
		<servlet-class>servlet.FrontServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>front</servlet-name>
		<url-pattern>/come/*</url-pattern>
	</servlet-mapping>
	
	
	
  
</web-app>